<h1>Posts</h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <p>Likes: <%= post.likes %> <i class="fas fa-thumbs-up"></i></p>
  <p>Dislikes: <%= post.dislikes %> <i class="fas fa-thumbs-down"></i></p>
  <p><%= link_to 'Show', post, class: 'btn btn-success' %></p>
  <hr>
<% end %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
