<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<div class="btn-group" role="group" aria-label="Acciones">
  <%= link_to like_post_path(@post), method: :put, class: "btn btn-primary" do %>
    <i class="bi bi-hand-thumbs-up"></i> Me gusta (<%= @post.likes %>)
  <% end %>

  <%= link_to dislike_post_path(@post), method: :put, class: "btn btn-danger" do %>
    <i class="bi bi-hand-thumbs-down"></i> No me gusta (<%= @post.dislikes %>)
  <% end %>
</div>


<h2>Comments</h2>
<div class="mb-3">
    <%= render partial: 'comments', locals: { post: @post } %>
</div>
<h2>Add a Comment</h2>
<%= form_with(model: [@post, Comment.new], local: true) do |form| %>
<div class="mb-3">
    <%= form.text_area :content, placeholder: 'Write your comment...' %>
</div>
<div class="mb-3">
    <%= form.submit 'Submit', class: 'btn btn-success' %>
</div>
<% end %>

<div class="mb-3">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success' %> |
    <%= link_to 'Back', posts_path, class: 'btn btn-success' %>
</div>
